:root {
    /* css variables: https://developer.mozilla.org/en-US/docs/Web/CSS/var */
    --primary-color: #4390bc;
    --secondary-color: #68a7ca;
    --tertiary-color: #61a0c5;
    --error-color: #EE3A23;
}

.background {
    background-color:  var(--tertiary-color);
    margin: 0;
    counter-reset: section;
    font-family: "Helvetica Neue",Helvetica,sans-serif;
}

.header {
    /* Flexbox: https://css-tricks.com/snippets/css/a-guide-to-flexbox/ */
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--tertiary-color);
    color: var(--primary-color);
    padding: 4px 20px;
}
.site-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
  
.button {
  background-color: var(--primary-color);
  outline: 2px solid var(--primary-color);
  border: none;
  border-radius: 8px;
  color: var(--primary-color);
  padding: 6px 6px 10px 6px;
  text-align: center;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
}
.img-fit {
  width: 10%;
  height: auto;
  object-fit: cover; /* Ensures the image covers the whole container */
}
.buttons-container {
    display: flex;
    flex-wrap: nowrap;
  }
  

.button-group {
    display: flex;
    justify-content: space-between;

}

.headingBoxPHR {
    border: 2px solid  rgb(234, 235, 236);
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    background-color: var(--primary-color);
    opacity: 0.7;
    padding-top: 1rem;
    padding-bottom: .5rem;
    position: relative;
    margin-bottom: 1rem
    
}
.subHeadingBox {
    border: 2px solid  black;
    background-color: rgb(234, 235, 236);

}
.resultsPHRtext {
    border: 2px solid  black;
    background-color: rgb(234, 235, 236);
}
.accordion-button-phr {
    display: flex;
    justify-content: space-between;
}
.accordion-button.show {
    background-color: var(--tertiary-color) !important;
}

.attr {
    width: 30%;  /* Or whatever width you find appropriate */
}

button.visit-btn {
    background-color: var(--primary-color);
    color: white !important;
}

button.seen-btn {
    background-color: var(--primary-color);
    color: white !important;
}

.header_home {
    font-size: 36px;
    line-height: 40px;
    height: 100px;
    text-decoration: none;
    color: var(--secondary-color);
}

.card {
    color: var(--primary-color);
    background-color: var(--secondary-color);
    margin: 20px;
    padding: 10px 20px;
}

.error {
    color: var(--error-color);
    border: 1px solid var(--error-color);
    padding: 8px;
}

.validated-field:invalid {
    outline: 2px solid var(--error-color);
}
.validated-field:focus:invalid {
    color: var(--error-color);
}

.card-content {
    max-width: 500px;
}

.card-content .form-field {
    display: flex;
    flex-direction: column;
}

.half-scaled-image {
    width: 25%; /* Reduce the width by 50% */
    height: auto; /* Maintain the aspect ratio */
}

.header-image-quarter {
    width: 10%; /* Reduce the width by 50% */
    height: auto; /* Maintain the aspect ratio */
}

.header-button {
  background-color: var(--tertiary-color);
  outline: 2px solid var(--primary-color);
  border: none;
  border-radius: 8px;
  color: var(--primary-color);
  padding: 6px 6px 10px 6px;
  text-align: center;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
}

.digital-clock {
    font-family: 'Courier New', Courier, monospace;  /* choose a digital-style font */
    font-size: 3em;  /* adjust size as needed */
    color: rgb(125, 227, 115);  /* green, like a classic digital clock */
    background-color: var(--teritiary-color);  /* black background */
    text-align: center;  /* center the text horizontally */
    line-height: 100px;  /* center the text vertically, adjust as needed */
    font-family: 'LED Digital 7', sans-serif;}


.tabs-color {
    background-color: rgb(234, 235, 236);

}
.nav-link.tabs-color {
    color: var(--tabs-color) !important;
}
.nav-link.active.tabs-color {
    color: var(--tabs-color) !important;
}

#nav-home-tab {
    background-color: rgb(234, 235, 236);
}
#nav-profile-tab-button {
    background-color: rgb(234, 235, 236);
}
#nav-contact-tab{
    background-color: rgb(234, 235, 236);
}
