:root {
    /* css variables: https://developer.mozilla.org/en-US/docs/Web/CSS/var */
    --primary-color: #4390bc;
    --secondary-color: #68a7ca;
    --tertiary-color: #61a0c5;
    --error-color: #EE3A23;
    --glow-color: #ffffff;
}




.background {
    font-family: 'Baloo 2', cursive;
    background-color:  var(--tertiary-color);
    margin: 0;
    counter-reset: section;
    font-family: "Helvetica Neue",Helvetica,sans-serif;
}

.header {
    /* Flexbox: https://css-tricks.com/snippets/css/a-guide-to-flexbox/ */
    font-family: 'Baloo 2', cursive;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--tertiary-color);
    color: var(--primary-color);
    padding: 4px 20px;
}
.site-title {
    font-family: 'Baloo 2', cursive;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
  
.button {
  font-family: 'Baloo 2', cursive;
  background-color: var(--primary-color);
  outline: 2px solid var(--primary-color);
  border: none;
  border-radius: 8px;
  color: var(--primary-color);
  padding: 6px 6px 10px 6px;
  text-align: center;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
}
.img-fit {
  width: 10%;
  height: auto;
  object-fit: cover; 
}
.buttons-container {
    font-family: 'Baloo 2', cursive;
    display: flex;
    flex-wrap: nowrap;
  }
  

.button-group {
    font-family: 'Baloo 2', cursive;
    display: flex;
    justify-content: space-between;

}

.headingBoxPHR {
    font-family: 'Baloo 2', cursive;
    border: 2px solid  rgb(234, 235, 236);
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    background-color: var(--primary-color);
    opacity: 0.7;
    padding-top: 1rem;
    padding-bottom: .5rem;
    position: relative;
    margin-bottom: 1rem
    
}
.subHeadingBox {
    font-family: 'Baloo 2', cursive;
    border: 2px solid  black;
    background-color: rgb(234, 235, 236);

}
.resultsPHRtext {
    font-family: 'Baloo 2', cursive;
    border: 2px solid  black;
    background-color: rgb(234, 235, 236);
}
.accordion-button-phr {
    font-family: 'Baloo 2', cursive;
    display: flex;
    justify-content: space-between;
}
.accordion-button.show {
    font-family: 'Baloo 2', cursive;
    background-color: var(--tertiary-color) !important;
}

.attr {
    width: 30%;  /* Or whatever width you find appropriate */
}
.breaker-point {
    border-top: 1px solid transparent;  /* Top border will be transparent */
    border-bottom: 1px solid black; /* Bottom border will be black */
}
button.visit-btn {
    font-family: 'Baloo 2', cursive;
    background-color: var(--primary-color);
    color: white !important;
}

button.seen-btn {
    font-family: 'Baloo 2', cursive;
    background-color: var(--primary-color);
    color: white !important;
}
.phr-shadows {
    margin-top: 2rem;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.4);

}

.header_home {
    font-size: 36px;
    line-height: 40px;
    height: 100px;
    text-decoration: none;
    color: var(--secondary-color);
}

.card {
    font-family: 'Baloo 2', cursive;
    color: var(--primary-color);
    background-color: var(--secondary-color);
    margin: 20px;
    padding: 10px 20px;
}

.error {
    font-family: 'Baloo 2', cursive;
    color: var(--error-color);
    border: 1px solid var(--error-color);
    padding: 8px;
}

.validated-field:invalid {
    font-family: 'Baloo 2', cursive;
    outline: 2px solid var(--error-color);
}
.validated-field:focus:invalid {
    font-family: 'Baloo 2', cursive;
    color: var(--error-color);
}

.card-content {
    font-family: 'Baloo 2', cursive;
    max-width: 500px;
}

.card-content .form-field {
    font-family: 'Baloo 2', cursive;
    display: flex;
    flex-direction: column;
}

.half-scaled-image {
    width: 25%; 
    height: auto; 
}

.header-image-quarter {
    width: 10%; /* Reduce the width by 50% */
    height: auto; /* Maintain the aspect ratio */
}

.header-button {
  font-family: 'Baloo 2', cursive;
  background-color: var(--tertiary-color);
  outline: 2px solid var(--primary-color);
  border: none;
  border-radius: 8px;
  color: var(--primary-color);
  padding: 6px 6px 10px 6px;
  text-align: center;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
}
li {
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.4);
}
.iconography {
    width: 10%; 
    height: auto;
}
.iconography-phr-result{
        width: 10%; 
        height: auto;
}
.accordion-item.accordion-header.iconography {
    width: 10%; 
    height: auto;
 
}
.digital-clock {
    font-family: 'Courier New', Courier, monospace;  /* choose a digital-style font */
    font-size: 3em;  /* adjust size as needed */
    color: rgb(125, 227, 115);  /* green, like a classic digital clock */
    background-color: var(--teritiary-color);  /* black background */
    text-align: center;  /* center the text horizontally */
    line-height: 100px;  /* center the text vertically, adjust as needed */
    font-family: 'LED Digital 7', sans-serif;
    text-shadow: 0px 3px 3px rgb(62, 101, 60), 4px 5px 6px rgb(125, 227, 115
    );
}


p {
    font-family: 'Baloo 2', cursive;
}
.my-3.withShadow {
    font-family: 'Baloo 2', cursive;
    box-shadow: 0 6px 6px rbga(0,0,0,0.2) !important;
}
h1 h2 h3 h4 h5 h6 {
    font-family: 'Baloo 2', cursive;
}
h4 {
 font-family: 'Baloo 2', cursive;
 font-weight: bold !important;
}
.text-center {
    font-family: 'Baloo 2', cursive;
}
.tabs-color {
    background-color: rgb(234, 235, 236);

}
.nav-link.tabs-color {
    font-family: 'Baloo 2', cursive;
    color: var(--tabs-color) !important;
    background-color: rgb(234, 235, 236)
    box-shadow: 4 -3px 3px rgba(0, 0, 0, 0.2) !important
}
.nav-link.active.tabs-color {
    background-color: rgb(247, 249, 250);
    box-shadow: 0 -6px 6px rgba(0, 0, 0, 0.2) !important;
}

#nav-home-tab {
    background-color: rgb(234, 235, 236);
}
#nav-profile-tab-button {
    background-color: rgb(234, 235, 236);
}
#nav-contact-tab{
    background-color: rgb(234, 235, 236);
}

/* @keyframes glowing {
    0% { box-shadow: 0 0 5px var(--glow-color), 0 0 10px var(--glow-color), 0 0 15px var(--glow-color), 0 0 20px var(--glow-color); }
    50% { box-shadow: 0 0 10px #6fff00, 0 0 20px #6fff00, 0 0 30px #6fff00, 0 0 40px #6fff00; }
    100% { box-shadow: 0 0 5px var(--glow-color), 0 0 10px var(--glow-color), 0 0 15px var(--glow-color) 0 0 20px var(--glow-color); }
  }
   */
  .glowing-image {
    filter: url(#glow);
  }
